html {
    background: #112f3d;
    background-image: url("elements/starsbackground.png");
    background-size: 40%;
}

#bodyWrapper {
    background: #112f3d;
    padding: 0em 2em 2em;
}

body {
    color: #fff1c9;
    font-family: brandon-grotesque, sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 730px;
    padding: 5em 1em 30em;
}

h1 {
    color:#fec20f;
    background: #112f3d;
    font-size: 62px;
    letter-spacing: 5px;
}

h2 {
    color: #fff1c9;
    font-size: 30px;
    line-height: 2;
    letter-spacing: 8px;
}

h3 {
    color: #fff1c9;
    line-height: 0;
    font-size: 24px;
    padding-left: .5em;
}

h4 {
    float: right;
    max-width: 250px;
    font-size: 16px;
    color: #fff1c9;
    padding-right: 2em;
}

p {
    color: #fff1c9; 
}

p.ex1 {
    color: #112f3d;
    background-color: #fff1c9;
    outline-style: solid;
    padding: 1em 1em 1em 1em;
}

p.ex2 {
    border: 1px, #fff1c9;
    outline-style: solid;
    padding: 1em 1em 1em 1em;
    max-width: 300px;
}

p.ex3 {
    color: #112f3d;
    background-color: #b7dce5;
    outline-style: solid;
    padding: 1em 1em 1em 1em;
}

p.ex4 {
    color: #b7dce5;
    border: 1px, #b7dce5;
    outline-style: solid;
    padding: 1em 1em 1em 1em;
    max-width: 300px;
}

.lightblue {
    color: #b7dce5;
}

.yellow {
    color: #fec20f;
}

.turquoise {
    color: #15616c;
}
.photogrid {
    float: right;
    padding-right: 7em;
    padding-top: 3em;
}

.photogrid2 {
    float: right;
    padding-right: 3em;
}

a {
    color: #fff1c9;
    text-decoration: none;
    font-size: 28px;
    letter-spacing: 8px;
    font-weight: 1000;
    line-height: 2;
}

a:hover {
    color: #fff1c9;
}
